<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="OutputHelper" class="com.jl.spring.Helper.OutputHelper">
		<property name="IOutputGenerator" ref="JsonOutputGenerator"/>
	</bean>
	<bean id="CsvOutputGenerator" class="com.jl.spring.generate.CsvOutputGenerator"></bean>
	<bean id="JsonOutputGenerator" class="com.jl.spring.generate.JsonOutputGenerator"></bean>
</beans>